
.truck-reviews {
    margin: 4rem 4rem;
    padding: 2rem 1rem;
    color:#ECDBBA;
    background-color: #406882;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.heading {
    padding-bottom: 1rem;
    padding-left: 5rem;
    color:#ECDBBA;

}

.truck-userStar {
    padding-left: 0.5rem;
}

.truck-reviews-all {
    display: flex;
    flex-wrap: wrap;

}
   
    .scrollbar--review::-webkit-scrollbar {
    width: 12px;
}
    
    .scrollbar--review::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: linear-gradient(to right, #ECDBBA 0%, #887d68 100%); }