@import url('https://fonts.googleapis.com/css2?family=Modak&family=Readex+Pro:wght@200;400;700&display=swap');

.truck__page-card {
    background-color: #2D4263;
    margin: 1rem 2rem 2rem 2rem ;
}

.truck__info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.truck__heading {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.truck__name {
    align-self: center;
    padding-left: 5rem;
    font-family: "Modak";
    font-size: 4rem;
    color:#ECDBBA;
    flex: 2
}

.editTruck-btn {
 justify-self: right;   
}

.truck__details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0.5rem 2rem 1rem 2rem;
    background-color: #2D4263;
}

.truck-info-details {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 2;

    
}

.truck__info--typeTags {
    display: flex;
    flex: wrap;
    align-items: left;
}

.typeTag {

    text-align: center;
    padding: 2px;
    font-size: 0.75rem;
    padding: 0.25rem;
    width: 4rem;
    border-radius: 25px;
    margin-right: 0.5rem;
    background-color: #406882;
    color:#ECDBBA;
}

.truck__media {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    background-color: #ECDBBA;
    
}

.truck__logo {
    height: 16rem;
    
}

.link__logo {
    margin: 0.5rem 0.5rem 0 0;
}

.truck__info--links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    
}

.truck__description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
    background-color: #ECDBBA;
    padding: 1rem 1rem 1rem 2rem;
    width: 25rem;
}

.truck__info--description {
    flex: 1.5;
    padding-bottom: 1.5rem;
    font-family: "Readex Pro";
}

.truck__info--dollars {
    font-size: 24px;
    font-family: "Modak";
    padding-top: 0.4rem;
    color: #406882;
}

.truck-userStar {
    width: 7rem;
    height: 1.5rem;
}

.truck__currentLocation {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: top;
    padding-right: 10rem;
}

.truck-location-heading {
    background-color: #406882;
    text-align: center;
    color:#ECDBBA;
    font-family: "Readex Pro";
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
}

.truck__schedule-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}

.truck-schedule-card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    background-color: #2D4263;
    padding: 0.5rem 3rem 0;
}

.schedule-heading {
    margin: 0;
    background-color: #406882;
    color: #ECDBBA;
    padding: 0.25rem 0.5rem;
}

.day__name {
    background-color: #406882;
    text-align: center;
    color:#ECDBBA;
    font-family: "Readex Pro";
    font-size: 1.25rem;
}

.truck__reviews {
    display: flex;
    flex-wrap: wrap;
}


.truck-reviews-heading {
    background-color: #406882;
    margin-bottom: 0;
    color: #ECDBBA;
    padding: 0.25rem 0.5rem;
}

.review-list {
    flex: 3;
    padding: 0;

}

.noReviewForm {
    width: 1rem;
    padding: 0;
}

.truck-review-card {
    margin: 0;
}

.review-message {
    margin-bottom: 0;
}

.review-author {
    text-align: right;
    padding-bottom: 0.4rem;
    padding-right: 0.4rem;
}

.form {
    padding: 0.5rem;
    flex: 1.5;
    background-color: #ECDBBA;
}

.review-form {
    padding: 0.5rem;
    flex: 1.5;
    background-color: #2D4263;
}

.label {
    padding-right: 1rem;
}

.review-options-blank {
    height: 2.3rem;
}

.truck-reviews-section {
    background-color:#2D4263;

}

input.review-date-picker[type=date]  {

    margin-bottom: 1rem;
}


