@import url('https://fonts.googleapis.com/css2?family=Modak&family=Readex+Pro:wght@200;400;700&display=swap');

.truck , .truck-card-body, .card-body, .neighborhood-card {
    background-color: #ECDBBA;
    
}

.neighborhood-card-body {
    background-color: #ECDBBA;
    height: 130px;
    width: 130px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.noTrucksCard {
    color: #ECDBBA;
    text-align: center;

}

.truck-price {
    font-family: "Modak";
    font-size: 1.25rem;
    color: #2D4263;
}

.truck {
    margin-bottom: 0;
}

.userStar {
    width: 4rem;
    height: 1.5rem;

  }

  .reviews {
      background-color: #2D4263;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
  }

  .review-card-heading {
      display: flex;
      flex-wrap: wrap;
  }

  .review-card {
    margin: 0.5rem 1rem 1rem 1rem ;
    background-color: #ECDBBA;
    width: 18rem;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.review-author {
    color:#191919;
}

.review-truckName button {
    background-color: #ECDBBA;
}

.review-truckName {
    color: #ECDBBA;
    font-family: "Readex Pro";
}

.review-date {
    color:#191919;
    margin-top: 0.25rem;
    margin-left: 1.5rem;
    background-color: #ECDBBA;
}

.review-message {
    background-color: #ECDBBA;
    color:#191919;
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    flex: 2;
}


.review-options {
    display:flex;
    flex-wrap: wrap;
    margin-left: 7rem;
    
}

.review-rating {
    padding-left: 0.25rem;
}



