@import url('https://fonts.googleapis.com/css2?family=Modak&family=Readex+Pro:wght@200;400;700&display=swap');
@import "Card.css";


body {
  padding-top: 5em;
  background-color: #191919;
}

.contact-checkbox {
  margin-right: 0.5rem;
}

.contactEmail{
  color:#ECDBBA;
}

.cancel-btn {
  margin-left: 1rem;
}

.fixed-bottom {
  background-color:#191919;
  color: #4e4e4e;
  text-align: right;
  padding: 0.25rem 1rem 0.25rem ;
}

.footer-link {
  color: #4e4e4e;
}

.review-rating {
  height: 1.5rem;
  width: 5rem;
}

label {
  margin-top: 1.25rem;
}

fieldset > button {
  margin-top: 2rem;
}

h6 {
  margin-top: 0.5em;
}

.centerChildren {
  text-align: center;
}

.onTop {
  background-color: white;
}

.small {
  font-size: small;
  color: #1E2A2D;
}

.smaller {
  font-size: smaller;
  color: grey;
}

summary {
  padding: 2px;
  outline: none;
}

meter {
  width: 80%;
}

dialog {
  z-index: 12;
  width: 70%;
}

@keyframes jiggle {
  0% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
  33% {
      transform: rotate(1deg) scale(1.0);
      opacity: 0.75;
  }
  66% {
      transform: rotate(-1deg) scale(1.0);
      opacity: 0.5;
  }
  100% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
}

.userSuggestions {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #2D4263;
  padding: 1rem;
  margin: 2rem;
}

.messageList--options {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex: 1
  
}

.messageList--option-btn {
  width: 15rem;
  height: 4rem;
  margin: 0.25rem 2rem;
  color:#ECDBBA;

}

.messagesList {
  background-color: #2D4263;
  color: #ECDBBA;
  display: flex;
  flex-wrap: wrap;
 flex: 5;
}

.suggestion {
  border: dashed 1px;
  margin: 0.3rem;
  padding: 0.5rem;
  background-color:#406882;
  width: 30rem;
}

.noMessages {
  text-align: center;
  padding-top: 2.5rem;
}

.suggestion-truck {
  border-bottom: solid #2D4263;
  font-weight: bold;
}

.suggestion-author {
  text-align: right;
}

.suggestion-btn {
  margin: 0.5rem;
  color:#ECDBBA;
}


.trucks {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.truck-logo {
  width: 100px;
  height: 100px;

}

#logo {
    padding-left: 2rem;
}

.neighborhood-logo {
  width: 100px;
  height: 100px;

}

.card-body {
  height: 130px;
  width: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.truck-card-body {
  
  flex-direction: column;
}

.mini-info {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}



.card {
  margin: 0.5rem 1rem 1rem 1rem ;
  border: none;
  background: transparent;
}

.today {
  flex-direction: row;
}

button {
  border: none;
  background-color: none;
}

h2 {
  color: #ECDBBA;
}

.link__logo {
  width: 2rem;
  height: 2rem;
}

.schedule, .list {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.truck__reviews {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.reviews {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.weekday {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.truck-card {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.neighborhood-logo-btn {
  background-color: #ECDBBA;;
}

.neighborhood-card {
  display: flex;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;

}

.star-icon {
  width: 100px;
  height: 100px;
  background-color: #2D4263;
  margin: 0.25rem 0 1.5rem 1rem;
}

.favorite {
  background-color: #F7B917;
}


.neighborhoods {
  margin: 0 3rem;
}

ul {
  padding: 0;
}