body {
  padding-top: 5em;
}

label {
  margin-top: 1.25rem;
}

fieldset > button {
  margin-top: 2rem;
}

h6 {
  margin-top: 0.5em;
}

.centerChildren {
  text-align: center;
}

.onTop {
  background-color: white;
}

.small {
  font-size: small;
  color: #1E2A2D;
}

.smaller {
  font-size: smaller;
  color: grey;
}

summary {
  padding: 2px;
  outline: none;
}

meter {
  width: 80%;
}

dialog {
  z-index: 12;
  width: 70%;
}

@keyframes jiggle {
  0% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
  33% {
      transform: rotate(1deg) scale(1.0);
      opacity: 0.75;
  }
  66% {
      transform: rotate(-1deg) scale(1.0);
      opacity: 0.5;
  }
  100% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
}