body {
  padding-top: 5em;
}

label {
  margin-top: 1.25rem;
}

fieldset > button {
  margin-top: 2rem;
}

h6 {
  margin-top: 0.5em;
}

.centerChildren {
  text-align: center;
}

.onTop {
  background-color: white;
}

.small {
  font-size: small;
  color: #1E2A2D;
}

.smaller {
  font-size: smaller;
  color: grey;
}

summary {
  padding: 2px;
  outline: none;
}

meter {
  width: 80%;
}

dialog {
  z-index: 12;
  width: 70%;
}

@keyframes jiggle {
  0% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
  33% {
      transform: rotate(1deg) scale(1.0);
      opacity: 0.75;
  }
  66% {
      transform: rotate(-1deg) scale(1.0);
      opacity: 0.5;
  }
  100% {
      transform: rotate(0deg) scale(1);
      opacity: 1;
  }
}

.date {
  display: flex;
}

.date-picker {
  width: 11rem;
}

.date-string {
  margin-left: 2rem;
  display: flex;
  align-items: center;

}

.trucks {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
}

.truck-logo {
  width: 100px;
  height: 100px;
}

.neighborhood-logo {
  width: 100px;
  height: 100px;
}

.card-body {
  height: 130px;
  width: 130px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin: 0.5rem 1rem 1rem 1rem ;
}

button {
  border: none;
  background-color: none;
}

.link__logo {
  width: 2rem;
  height: 2rem;
}

.schedule {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.truck__reviews {
  display: flex;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-list {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.weekday {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
}

.truck-card {
  display: flex;
  justify-content: left;
  flex-direction: column;
  flex-wrap: wrap;
}