@import url('https://fonts.googleapis.com/css2?family=Modak&family=Readex+Pro:wght@200;400;700&display=swap');

.form--login {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}

.form--login > fieldset > input[type="email"],
.form--login > fieldset > input[type="password"] {
    width: 25em;
}

input[name="remember"] {
    margin: 1em 0.5em 0 0;
}

.link--register {
    margin-top: 2rem;
    color:#ECDBBA; 

}

.container--login {
    background-color: #2D4263;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 4rem 0 24.5rem 0;
    margin-top: -5rem;
    color:#ECDBBA; 
    font-family: "Readex Pro"
}

#appName {
    font-family: "Modak";
    font-size: 5rem;
}

.form-container {
    flex: 0.6;
    padding-left: 8rem;

}

#login-logo {
   
    height: 30rem;
    justify-self: center;

}